body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #2c3e50;
}

pre {
    background-color: #272822;
    color: #f8f8f2;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    position: relative;
}

code {
    font-family: 'Courier New', Courier, monospace;
}

.copy-btn, .translate-btn {
    background-color: #2c3e50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.copy-btn:hover, .translate-btn:hover {
    background-color: #34495e;
}

.translate-btn {
    display: inline-block;
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow-x: auto;
    display: block;
    max-width: 100%;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
}

td a {
    color: #3498db;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}
